### 코랩 환경설정 ###

In [ ]:
from psutil import virtual_memory
ram_gb = virtual_memory().total / 1e9
print('Your runtime has {:.1f} gigabytes of available RAM\n'.format(ram_gb))

if ram_gb < 20:
  print('Not using a high-RAM runtime')
else:
  print('You are using a high-RAM runtime!')

Your runtime has 27.3 gigabytes of available RAM

You are using a high-RAM runtime!

In [ ]:
gpu_info = !nvidia-smi
gpu_info = '\n'.join(gpu_info)
if gpu_info.find('failed') >= 0:
  print('Not connected to a GPU')
else:
  print(gpu_info)

Thu Oct 13 06:07:17 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.32.03    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   42C    P8     9W /  70W |      0MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

### 구글 드라이브 연동 ###

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

### 데이터 불러오기 ###

In [ ]:
import pandas as pd 
data = pd.read_csv('/content/gdrive/MyDrive/merge_user_loan_4.csv')
data.head()

FileNotFoundError: ignored

In [ ]:
# 필요없는 컬럼 삭제
data2 = data.drop(['생년월일','한도조회 일시','생성일시','날짜'], axis = 1)
data2
# '유저 번호','신청서 번호',

,신청서 번호,금융사 번호,상품 번호,승인한도,승인금리,신청 여부(타겟),유저 번호,성별,신용점수,연소득,근로형태,고용형태,주거소유형태,대출희망금액,대출목적,기대출수,기대출금액,연령,개인회생 종류,근속월수
0,1748340,7,191,42000000.0,13.6,NaN,430982.0,1.0,620.0,24000000.0,직장가입자(4대보험O),정규직,자가,25000000.0,대환대출,2.0,15000000.0,27.0,CASE1,4
1,1748340,25,169,24000000.0,17.9,NaN,430982.0,1.0,620.0,24000000.0,직장가입자(4대보험O),정규직,자가,25000000.0,대환대출,2.0,15000000.0,27.0,CASE1,4
2,1748340,2,7,24000000.0,18.5,NaN,430982.0,1.0,620.0,24000000.0,직장가입자(4대보험O),정규직,자가,25000000.0,대환대출,2.0,15000000.0,27.0,CASE1,4
3,1748340,4,268,29000000.0,10.8,NaN,430982.0,1.0,620.0,24000000.0,직장가입자(4대보험O),정규직,자가,25000000.0,대환대출,2.0,15000000.0,27.0,CASE1,4
4,1748340,11,118,5000000.0,16.4,NaN,430982.0,1.0,620.0,24000000.0,직장가입자(4대보험O),정규직,자가,25000000.0,대환대출,2.0,15000000.0,27.0,CASE1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10455660,1428218,62,200,3000000.0,14.8,NaN,478802.0,1.0,610.0,45000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,대환대출,2.0,56000000.0,58.0,CASE1,39
10455661,1428218,2,7,40000000.0,11.8,NaN,478802.0,1.0,610.0,45000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,대환대출,2.0,56000000.0,58.0,CASE1,39
10455662,1428218,32,257,15000000.0,7.2,NaN,478802.0,1.0,610.0,45000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,대환대출,2.0,56000000.0,58.0,CASE1,39
10455663,1428218,33,110,44000000.0,13.5,NaN,478802.0,1.0,610.0,45000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,대환대출,2.0,56000000.0,58.0,CASE1,39
10455664,1428218,5,194,44000000.0,9.7,NaN,478802.0,1.0,610.0,45000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,대환대출,2.0,56000000.0,58.0,CASE1,39

In [ ]:
data2.isna().sum()

신청서 번호             0
금융사 번호             0
상품 번호              0
승인한도               0
승인금리               0
신청 여부(타겟)    2590620
유저 번호              0
성별                 0
신용점수               0
연소득                0
근로형태               0
고용형태               0
주거소유형태             0
대출희망금액             0
대출목적               0
기대출수               0
기대출금액              0
연령                 0
개인회생 종류            0
근속월수               0
dtype: int64

In [ ]:
data2 = data2.dropna(axis=0)

In [ ]:
data2.isna().sum()

신청서 번호       0
금융사 번호       0
상품 번호        0
승인한도         0
승인금리         0
신청 여부(타겟)    0
유저 번호        0
성별           0
신용점수         0
연소득          0
근로형태         0
고용형태         0
주거소유형태       0
대출희망금액       0
대출목적         0
기대출수         0
기대출금액        0
연령           0
개인회생 종류      0
근속월수         0
dtype: int64

In [ ]:
data2.shape

(7865045, 20)

In [ ]:
data2.describe()

,신청서 번호,금융사 번호,상품 번호,승인한도,승인금리,신청 여부(타겟),유저 번호,성별,신용점수,연소득,대출희망금액,기대출수,기대출금액,연령,근속월수
count,7.865045e+06,7.865045e+06,7.865045e+06,7.865045e+06,7.865045e+06,7.865045e+06,7.865045e+06,7.865045e+06,7.865045e+06,7.865045e+06,7.865045e+06,7.865045e+06,7.865045e+06,7.865045e+06,7.865045e+06
mean,1.083338e+06,3.296739e+01,1.464718e+02,2.222468e+07,1.283194e+01,5.393370e-02,4.400576e+05,7.067406e-01,7.464333e+02,4.688662e+07,4.839813e+07,3.395138e+00,7.039670e+07,4.032323e+01,5.026113e+01
std,6.258243e+05,1.710954e+01,7.782882e+01,2.257394e+07,3.862124e+00,2.258868e-01,2.536725e+05,4.552563e-01,1.268390e+02,8.915756e+07,2.208273e+08,3.254006e+00,9.540386e+07,9.431390e+00,6.575411e+01
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.500000e+00,0.000000e+00,1.100000e+01,0.000000e+00,1.000000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+01,-6.000000e+00
25%,5.421210e+05,2.000000e+01,7.100000e+01,9.000000e+06,9.700000e+00,0.000000e+00,2.211900e+05,0.000000e+00,6.400000e+02,3.000000e+07,1.000000e+07,1.000000e+00,1.400000e+07,3.300000e+01,9.000000e+00
50%,1.083225e+06,3.400000e+01,1.500000e+02,1.800000e+07,1.330000e+01,0.000000e+00,4.402980e+05,1.000000e+00,7.300000e+02,3.700000e+07,2.500000e+07,3.000000e+00,4.000000e+07,4.000000e+01,2.500000e+01
75%,1.625063e+06,4.700000e+01,2.160000e+02,3.200000e+07,1.580000e+01,0.000000e+00,6.610690e+05,1.000000e+00,8.500000e+02,5.000000e+07,5.000000e+07,5.000000e+00,8.500000e+07,4.700000e+01,6.300000e+01
max,2.167826e+06,6.400000e+01,2.700000e+02,1.000000e+10,2.000000e+01,1.000000e+00,8.796960e+05,1.000000e+00,1.000000e+03,1.000000e+10,1.000000e+10,1.780000e+02,7.512000e+09,9.000000e+01,1.289000e+03

In [ ]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7865045 entries, 10583 to 10449624
Data columns (total 20 columns):
 #   Column     Dtype
---  ------     -----
 0   신청서 번호     int64
 1   금융사 번호     int64
 2   상품 번호      int64
 3   승인한도       float64
 4   승인금리       float64
 5   신청 여부(타겟)  float64
 6   유저 번호      float64
 7   성별         float64
 8   신용점수       float64
 9   연소득        float64
 10  근로형태       object
 11  고용형태       object
 12  주거소유형태     object
 13  대출희망금액     float64
 14  대출목적       object
 15  기대출수       float64
 16  기대출금액      float64
 17  연령         float64
 18  개인회생 종류    object
 19  근속월수       int64
dtypes: float64(11), int64(4), object(5)
memory usage: 1.2+ GB

### min max scaler ###

In [ ]:
import numpy as np
print(np.__version__) # 1.16.4

# 결과확인을 위해 소수 출력 옵션 변경
np.set_printoptions(formatter={'float_kind': lambda x: "{0:0.1f}".format(x)}) 

from sklearn.preprocessing import MinMaxScaler

1.21.6

In [ ]:
scaler = MinMaxScaler()

In [ ]:
# '유저 번호','신청서 번호',

# scaler 생성 및 fitting
scaler = MinMaxScaler(feature_range = (0,1))
scaler_fit = scaler.fit(data2[['승인한도','승인금리','신용점수','연소득','대출희망금액','기대출수','기대출금액','연령','근속월수']])

# 데이터에 scaler 적용
scaled_data = scaler_fit.transform(data2[['승인한도','승인금리','신용점수','연소득','대출희망금액','기대출수','기대출금액','연령','근속월수']])
scaled_data

array([[0.0, 0.8, 0.5, ..., 0.0, 0.5, 0.1],
       [0.0, 0.8, 0.5, ..., 0.0, 0.4, 0.0],
       [0.0, 1.0, 0.5, ..., 0.0, 0.4, 0.0],
       ...,
       [0.0, 0.5, 0.6, ..., 0.0, 0.4, 0.0],
       [0.0, 0.7, 0.6, ..., 0.0, 0.4, 0.0],
       [0.0, 0.8, 0.6, ..., 0.0, 0.4, 0.0]])

In [ ]:
data2[['승인한도','승인금리','신용점수','연소득','대출희망금액','기대출수','기대출금액','연령','근속월수']] = scaled_data

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

In [ ]:
data2

,신청서 번호,금융사 번호,상품 번호,승인한도,승인금리,신청 여부(타겟),유저 번호,성별,신용점수,연소득,근로형태,고용형태,주거소유형태,대출희망금액,대출목적,기대출수,기대출금액,연령,개인회생 종류,근속월수
10583,2157865,54,235,0.0020,0.810811,1.0,346970.0,1.0,0.488889,0.0032,직장가입자(4대보험O),정규직,자가,0.001,생활비,0.067416,0.021565,0.471429,CASE1,0.082625
10584,576643,54,235,0.0011,0.810811,0.0,545882.0,1.0,0.533333,0.0072,직장가입자(4대보험O),정규직,전월세,0.002,생활비,0.039326,0.014111,0.371429,CASE1,0.030116
10585,576643,11,118,0.0003,1.000000,0.0,545882.0,1.0,0.533333,0.0072,직장가입자(4대보험O),정규직,전월세,0.002,생활비,0.039326,0.014111,0.371429,CASE1,0.030116
10586,2136706,42,216,0.0010,0.648649,0.0,558819.0,1.0,0.711111,0.0039,직장가입자(4대보험O),정규직,전월세,0.008,대환대출,0.011236,0.007721,0.285714,CASE1,0.098842
10587,2136706,25,169,0.0022,0.778378,0.0,558819.0,1.0,0.711111,0.0039,직장가입자(4대보험O),정규직,전월세,0.008,대환대출,0.011236,0.007721,0.285714,CASE1,0.098842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10449620,1969227,2,7,0.0030,0.654054,0.0,109899.0,1.0,0.555556,0.0037,직장가입자(4대보험O),정규직,자가,0.002,대환대출,0.050562,0.014244,0.371429,CASE1,0.011583
10449621,1969227,33,110,0.0009,0.697297,0.0,109899.0,1.0,0.555556,0.0037,직장가입자(4대보험O),정규직,자가,0.002,대환대출,0.050562,0.014244,0.371429,CASE1,0.011583
10449622,1969227,50,142,0.0003,0.524324,0.0,109899.0,1.0,0.555556,0.0037,직장가입자(4대보험O),정규직,자가,0.002,대환대출,0.050562,0.014244,0.371429,CASE1,0.011583
10449623,1969227,22,100,0.0004,0.745946,0.0,109899.0,1.0,0.555556,0.0037,직장가입자(4대보험O),정규직,자가,0.002,대환대출,0.050562,0.014244,0.371429,CASE1,0.011583
10449624,1969227,19,231,0.0009,0.756757,0.0,109899.0,1.0,0.555556,0.0037,직장가입자(4대보험O),정규직,자가,0.002,대환대출,0.050562,0.014244,0.371429,CASE1,0.011583

In [ ]:
# '대출목적','개인회생종류','근로형태','고용형태','주거소유형태' 컬럼에 대해서만 one-hot encoding
data3 = pd.get_dummies(data2,columns=['성별','대출목적','개인회생 종류','근로형태','고용형태','주거소유형태'])

In [ ]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7865045 entries, 10583 to 10449624
Data columns (total 41 columns):
 #   Column             Dtype
---  ------             -----
 0   신청서 번호             int64
 1   금융사 번호             int64
 2   상품 번호              int64
 3   승인한도               float64
 4   승인금리               float64
 5   신청 여부(타겟)          float64
 6   유저 번호              float64
 7   신용점수               float64
 8   연소득                float64
 9   대출희망금액             float64
 10  기대출수               float64
 11  기대출금액              float64
 12  연령                 float64
 13  근속월수               float64
 14  성별_0.0             uint8
 15  성별_1.0             uint8
 16  대출목적_기타            uint8
 17  대출목적_대환대출          uint8
 18  대출목적_사업자금          uint8
 19  대출목적_생활비           uint8
 20  대출목적_자동차구입         uint8
 21  대출목적_전월세보증금        uint8
 22  대출목적_주택구입          uint8
 23  대출목적_투자            uint8
 24  개인회생 종류_CASE1      uint8
 25  개인회생 종류_CASE2      uint8
 26  개인회생 종류_CASE3      uint8
 27  개인회생 종류_CASE4      uint8
 28  근로형태_개인사업자         uint8
 29  근로형태_기타소득          uint8
 30  근로형태_전문직           uint8
 31  근로형태_직장가입자(4대보험O)  uint8
 32  근로형태_직장가입자(4대보험X)  uint8
 33  근로형태_프리랜서          uint8
 34  고용형태_계약직           uint8
 35  고용형태_기타            uint8
 36  고용형태_일용직           uint8
 37  고용형태_정규직           uint8
 38  주거소유형태_기타가족소유      uint8
 39  주거소유형태_자가          uint8
 40  주거소유형태_전월세         uint8
dtypes: float64(11), int64(3), uint8(27)
memory usage: 1.1 GB

In [ ]:
data4 = data3.reindex(columns=['금융사 번호', '상품 번호', '승인한도', '승인금리','유저 번호' ,'생년월일','성별','신용점수','연소득','대출희망금액','기대출수','기대출금액','연령','근속월수','대출목적_기타','대출목적_대환대출','대출목적_사업자금','대출목적_생활비','대출목적_자동차구입','대출목적_전월세보증금','대출목적_주택구입','대출목적_투자','개인회생 종류_CASE1','개인회생 종류_CASE2','개인회생 종류_CASE3','개인회생 종류_CASE4','근로형태_개인사업자','근로형태_기타소득','근로형태_전문직','근로형태_직장가입자(4대보험O)','근로형태_직장가입자(4대보험X)','근로형태_프리랜서','고용형태_계약직','고용형태_기타','고용형태_일용직','고용형태_정규직','주거소유형태_기타가족소유','주거소유형태_자가','주거소유형태_전월세', '신청 여부(타겟)'])
data4 = data4.sample(frac=0.5,random_state=100)
data4

,금융사 번호,상품 번호,승인한도,승인금리,유저 번호,생년월일,성별,신용점수,연소득,대출희망금액,...,근로형태_직장가입자(4대보험X),근로형태_프리랜서,고용형태_계약직,고용형태_기타,고용형태_일용직,고용형태_정규직,주거소유형태_기타가족소유,주거소유형태_자가,주거소유형태_전월세,신청 여부(타겟)
5481721,62,200,0.0015,0.718919,31318.0,NaN,NaN,0.533333,0.0038,0.0005,...,0,0,0,0,0,1,1,0,0,0.0
10264617,7,191,0.0014,0.702703,323521.0,NaN,NaN,0.577778,0.0030,0.0030,...,0,0,0,0,0,1,0,0,1,0.0
7929120,32,56,0.0026,0.729730,2141.0,NaN,NaN,0.800000,0.0026,0.0017,...,0,0,0,0,0,1,0,0,1,0.0
2909587,3,152,0.0022,0.940541,701404.0,NaN,NaN,0.566667,0.0042,0.0020,...,0,0,0,0,0,1,0,0,1,0.0
4805389,17,19,0.0022,0.994595,393785.0,NaN,NaN,0.511111,0.0032,0.0002,...,0,0,0,0,0,1,1,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5955490,37,206,0.0005,0.994595,316376.0,NaN,NaN,0.755556,0.0026,0.0040,...,0,0,1,0,0,0,0,1,0,0.0
3860858,35,29,0.0003,0.886486,88607.0,NaN,NaN,0.911111,0.0050,0.0014,...,0,0,0,0,0,1,1,0,0,0.0
8530691,32,56,0.0030,0.875676,73308.0,NaN,NaN,0.611111,0.0040,0.0040,...,0,0,0,0,0,1,0,0,1,0.0
1412817,59,251,0.0016,0.275676,151312.0,NaN,NaN,0.511111,0.0025,0.0001,...,1,0,0,0,0,1,1,0,0,1.0
2275452,38,134,0.0014,0.313514,233223.0,NaN,NaN,0.766667,0.0024,0.0023,...,0,0,0,0,0,1,0,1,0,0.0

### 1012 전처리한 코드 들고오기 ###

In [ ]:
import pandas as pd 

data = pd.read_csv('/content/gdrive/MyDrive/Dataset.csv')
data.head()

In [ ]:
data['연령대'].value_counts()

30대       4994723
40대       4208684
50대       1954832
20대       1790565
60대        422157
알수없음       108176
70대         40637
80대 이상         68
Name: 연령대, dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13519842 entries, 0 to 13519841
Data columns (total 29 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   신청서 번호      int64
 2   한도조회 일시     object
 3   금융사 번호      int64
 4   상품 번호       int64
 5   승인한도        float64
 6   승인금리        float64
 7   신청 여부(타겟)   float64
 8   유저 번호       float64
 9   생성일시        object
 10  근로형태        object
 11  고용형태        object
 12  주거소유형태      object
 13  대출목적        object
 14  날짜          object
 15  연령          object
 16  연령대         object
 17  신용등급        object
 18  개인회생 종류     object
 19  연소득         float64
 20  대출희망금액      float64
 21  기대출수        float64
 22  기대출금액       float64
 23  근속월수        float64
 24  상품 누적 추천 수  int64
 25  추천 수        int64
 26  신용점수(보완)    float64
 27  조회 횟수       int64
 28  시간차         int64
dtypes: float64(10), int64(8), object(11)
memory usage: 2.9+ GB

1   신청서 번호      int64  
 
 3   금융사 번호      int64  
 4   상품 번호       int64  
 5   승인한도        float64  OOO
 6   승인금리        float64 OOO

 8   유저 번호       float64
 
 10  근로형태        object 
 11  고용형태        object 
 12  주거소유형태      object 
 13  대출목적        object 

 16  연령대         object 
 17  신용등급        object 
 18  개인회생 종류     object 
 19  연소득         float64 OOO
 20  대출희망금액      float64 OOO
 21  기대출수        float64 OOO
 22  기대출금액       float64 OOO
 23  근속월수        float64 OOO
 24  상품 누적 추천 수  int64 OOO
 25  추천 수        int64  OOO
 26  신용점수(보완)    float64 OOO
 27  조회 횟수       int64  OOO
 28  시간차         int64 OOO

In [ ]:

# 필요없는 컬럼 삭제
data2 = data.drop(['Unnamed: 0','연령','한도조회 일시','생성일시','날짜'], axis = 1)

data2 = data2.reindex(columns=['신청 여부(타겟)','신청서 번호','금융사 번호','상품 번호','승인한도','승인금리','유저 번호','근로형태','고용형태','주거소유형태','대출목적','연령대','신용등급','개인회생 종류','연소득','대출희망금액','기대출수','기대출금액','근속월수','상품 누적 추천 수','추천 수','신용점수(보완)','조회 횟수','시간차'])
data2
# '유저 번호','신청서 번호',

data2.isna().sum()

data2 = data2.dropna(axis=0)

data2.isna().sum()

data2.shape

data2.describe()

data2.info()

"""### min max scaler ###"""

import numpy as np
print(np.__version__) # 1.16.4

# 결과확인을 위해 소수 출력 옵션 변경
np.set_printoptions(formatter={'float_kind': lambda x: "{0:0.1f}".format(x)})

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10264376 entries, 13281 to 13512166
Data columns (total 24 columns):
 #   Column      Dtype
---  ------      -----
 0   신청 여부(타겟)   float64
 1   신청서 번호      int64
 2   금융사 번호      int64
 3   상품 번호       int64
 4   승인한도        float64
 5   승인금리        float64
 6   유저 번호       float64
 7   근로형태        object
 8   고용형태        object
 9   주거소유형태      object
 10  대출목적        object
 11  연령대         object
 12  신용등급        object
 13  개인회생 종류     object
 14  연소득         float64
 15  대출희망금액      float64
 16  기대출수        float64
 17  기대출금액       float64
 18  근속월수        float64
 19  상품 누적 추천 수  int64
 20  추천 수        int64
 21  신용점수(보완)    float64
 22  조회 횟수       int64
 23  시간차         int64
dtypes: float64(10), int64(7), object(7)
memory usage: 1.9+ GB
1.21.6

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

# '유저 번호','신청서 번호',

# scaler 생성 및 fitting
scaler = MinMaxScaler(feature_range = (0,1))
scaler_fit = scaler.fit(data2[['승인한도','승인금리','연소득','대출희망금액','기대출수','기대출금액','근속월수','상품 누적 추천 수','추천 수','신용점수(보완)','조회 횟수','시간차']])

# 데이터에 scaler 적용 -> 신청서번호, 금융사 번호, 상품번호, 유저 번호는 제외
scaled_data = scaler_fit.transform(data2[['승인한도','승인금리','연소득','대출희망금액','기대출수','기대출금액','근속월수','상품 누적 추천 수','추천 수','신용점수(보완)','조회 횟수','시간차']])
scaled_data

data2[['승인한도','승인금리','연소득','대출희망금액','기대출수','기대출금액','근속월수','상품 누적 추천 수','추천 수','신용점수(보완)','조회 횟수','시간차']] = scaled_data

data2

,신청 여부(타겟),신청서 번호,금융사 번호,상품 번호,승인한도,승인금리,유저 번호,근로형태,고용형태,주거소유형태,...,연소득,대출희망금액,기대출수,기대출금액,근속월수,상품 누적 추천 수,추천 수,신용점수(보완),조회 횟수,시간차
13281,1.0,2157865,54,235,0.0020,0.810811,346970.0,직장가입자(4대보험O),정규직,자가,...,0.0032,0.0010,0.067416,0.021565,0.080210,0.000000,0.000000,0.488889,0.000000,0.000000
13282,0.0,576643,54,235,0.0011,0.810811,545882.0,직장가입자(4대보험O),정규직,전월세,...,0.0072,0.0020,0.039326,0.014111,0.029235,0.004098,0.012821,0.533333,0.018797,0.020492
13283,0.0,576643,11,118,0.0003,1.000000,545882.0,직장가입자(4대보험O),정규직,전월세,...,0.0072,0.0020,0.039326,0.014111,0.029235,0.016393,0.012821,0.533333,0.018797,0.020492
13284,0.0,2136706,42,216,0.0010,0.648649,558819.0,직장가입자(4대보험O),정규직,전월세,...,0.0039,0.0080,0.011236,0.007721,0.095952,0.004098,0.500000,0.711111,0.003759,0.076958
13285,0.0,2136706,25,169,0.0022,0.778378,558819.0,직장가입자(4대보험O),정규직,전월세,...,0.0039,0.0080,0.011236,0.007721,0.095952,0.004098,0.500000,0.711111,0.003759,0.076958
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13512162,0.0,1369315,27,148,0.0018,0.297297,601384.0,직장가입자(4대보험X),기타,자가,...,0.0035,0.0006,0.016854,0.003594,0.010495,0.000000,0.166667,0.555556,0.000000,0.000000
13512163,0.0,1369315,32,257,0.0018,0.308108,601384.0,직장가입자(4대보험X),기타,자가,...,0.0035,0.0006,0.016854,0.003594,0.010495,0.000000,0.166667,0.555556,0.000000,0.000000
13512164,0.0,1369315,8,31,0.0016,0.454054,601384.0,직장가입자(4대보험X),기타,자가,...,0.0035,0.0006,0.016854,0.003594,0.010495,0.000000,0.166667,0.555556,0.000000,0.000000
13512165,0.0,1369315,49,39,0.0030,0.735135,601384.0,직장가입자(4대보험X),기타,자가,...,0.0035,0.0006,0.016854,0.003594,0.010495,0.000000,0.166667,0.555556,0.000000,0.000000
13512166,0.0,1369315,54,235,0.0012,0.756757,601384.0,직장가입자(4대보험X),기타,자가,...,0.0035,0.0006,0.016854,0.003594,0.010495,0.000000,0.166667,0.555556,0.000000,0.000000

In [ ]:
# 해당 컬럼에 대해서만 one-hot encoding
data3 = pd.get_dummies(data2,columns=['근로형태','고용형태','주거소유형태','대출목적','연령대','신용등급','개인회생 종류'])

data3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10264376 entries, 13281 to 13512166
Data columns (total 60 columns):
 #   Column             Dtype
---  ------             -----
 0   신청 여부(타겟)          float64
 1   신청서 번호             int64
 2   금융사 번호             int64
 3   상품 번호              int64
 4   승인한도               float64
 5   승인금리               float64
 6   유저 번호              float64
 7   연소득                float64
 8   대출희망금액             float64
 9   기대출수               float64
 10  기대출금액              float64
 11  근속월수               float64
 12  상품 누적 추천 수         float64
 13  추천 수               float64
 14  신용점수(보완)           float64
 15  조회 횟수              float64
 16  시간차                float64
 17  근로형태_개인사업자         uint8
 18  근로형태_기타소득          uint8
 19  근로형태_전문직           uint8
 20  근로형태_직장가입자(4대보험O)  uint8
 21  근로형태_직장가입자(4대보험X)  uint8
 22  근로형태_프리랜서          uint8
 23  고용형태_계약직           uint8
 24  고용형태_기타            uint8
 25  고용형태_일용직           uint8
 26  고용형태_정규직           uint8
 27  주거소유형태_기타가족소유      uint8
 28  주거소유형태_자가          uint8
 29  주거소유형태_전월세         uint8
 30  대출목적_기타            uint8
 31  대출목적_대환대출          uint8
 32  대출목적_사업자금          uint8
 33  대출목적_생활비           uint8
 34  대출목적_자동차구입         uint8
 35  대출목적_전월세보증금        uint8
 36  대출목적_주택구입          uint8
 37  대출목적_투자            uint8
 38  연령대_20대            uint8
 39  연령대_30대            uint8
 40  연령대_40대            uint8
 41  연령대_50대            uint8
 42  연령대_60대            uint8
 43  연령대_70대            uint8
 44  연령대_80대 이상         uint8
 45  연령대_알수없음           uint8
 46  신용등급_10등급          uint8
 47  신용등급_1등급           uint8
 48  신용등급_2등급           uint8
 49  신용등급_3등급           uint8
 50  신용등급_4등급           uint8
 51  신용등급_5등급           uint8
 52  신용등급_6등급           uint8
 53  신용등급_7등급           uint8
 54  신용등급_8등급           uint8
 55  신용등급_9등급           uint8
 56  개인회생 종류_CASE1      uint8
 57  개인회생 종류_CASE2      uint8
 58  개인회생 종류_CASE3      uint8
 59  개인회생 종류_CASE4      uint8
dtypes: float64(14), int64(3), uint8(43)
memory usage: 1.8 GB

In [ ]:
# pip install bayesian-optimization

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting bayesian-optimization
  Downloading bayesian-optimization-1.2.0.tar.gz (14 kB)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from bayesian-optimization) (1.21.6)
Requirement already satisfied: scipy>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from bayesian-optimization) (1.7.3)
Requirement already satisfied: scikit-learn>=0.18.0 in /usr/local/lib/python3.7/dist-packages (from bayesian-optimization) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18.0->bayesian-optimization) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18.0->bayesian-optimization) (1.2.0)
Building wheels for collected packages: bayesian-optimization
  Building wheel for bayesian-optimization (setup.py) ... done
  Created wheel for bayesian-optimization: filename=bayesian_optimization-1.2.0-py3-none-any.whl size=11685 sha256=17622069f24abcdf42a87b44a965954574be5f9b21dadcdac914ca4f5605dd31
  Stored in directory: /root/.cache/pip/wheels/fd/9b/71/f127d694e02eb40bcf18c7ae9613b88a6be4470f57a8528c5b
Successfully built bayesian-optimization
Installing collected packages: bayesian-optimization
Successfully installed bayesian-optimization-1.2.0

In [ ]:



import pandas as pd 
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.model_selection import train_test_split
from tensorflow import keras
from tensorflow.keras import layers
from bayes_opt import BayesianOptimization


x = data3.iloc[:,1:]
y = data3.iloc[:,0]

# 필요 함수 정의
from matplotlib import pyplot
from collections import Counter

def count_and_plot(y): 
    counter = Counter(y)
    for k,v in counter.items():
        print('Class=%d, n=%d (%.3f%%)' % (k, v, v / len(y) * 100))
    pyplot.bar(counter.keys(), counter.values())
    pyplot.show()


from imblearn.under_sampling import RandomUnderSampler
x, y = RandomUnderSampler(random_state=0).fit_resample(x, y)
count_and_plot(y)

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1004)


print(x.shape,y.shape)

with tf.device('/gpu:3'):
    def model_optimization(Neurons, Neurons2,Neurons3,  learning_rate):
        global model, history
        epoch = 100
        model = keras.models.Sequential([
            layers.Input(39),
            layers.Dense(int(Neurons), activation='relu'),
            layers.Dense(int(Neurons2), activation='relu'),
            layers.Dense(int(Neurons3), activation='relu'),
            layers.Dense(1, activation='sigmoid')])
        
        # model.compile(loss='binary_crossentropy', optimizer=keras.optimizers.Adam(learning_rate=learning_rate),
        #               metrics=['acc'])
        model.compile(loss=tf.keras.losses.BinaryCrossentropy(), optimizer='adam', metrics = ['acc',tf.keras.metrics.Precision(),'rec',tf.keras.metrics.Recall()])

        # model.compile(loss='binary_crossentropy', optimizer=keras.optimizers.Adam(learning_rate=learning_rate),
        # metrics = ['acc',tf.keras.metrics.Precision(),'rec',tf.keras.metrics.Recall()])
        
        
        
        history = model.fit(X_train, y_train, epochs=int(epoch), batch_size=1024, verbose=1, validation_data=(X_test, y_test))
        
        # 예측값 출력
        y_pred = model.predict(X_test)
        # r2 = r2_score(y_test, y_pred)
        # loss, acc = model.evaluate(x, y)



        
        history_dict = history.history
        acc = history_dict['acc']
        loss = history_dict['loss']
        val_acc = history_dict['val_acc']
        
        print()
        
        epochs = range(1, len(loss) + 1)
        
        
        
        plt.plot(epochs, acc, 'bo', label='Training acc')
        plt.plot(epochs, val_acc, 'b', label='Validation acc')
        plt.title('Training and validation accuracy')
        plt.xlabel('Epochs')
        plt.ylabel('Accuracy')
        plt.legend()
        plt.show()
        loss, acc = model.evaluate(x, y)
        return acc
    
    
  
    
    pbounds = {'Neurons': (72, 144), 'Neurons2': (144, 200),'Neurons3': (72, 144),  'learning_rate': (0.001, 0.1)}
    
    BO = BayesianOptimization(f=model_optimization, pbounds=pbounds, verbose=2)
    BO.maximize(init_points=60, n_iter=5, acq='ei', xi=0.01)

NameError: ignored

In [ ]:
!pip install bayes_opt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement bayes_opt (from versions: none)
ERROR: No matching distribution found for bayes_opt

### tabNET 돌려보기

In [ ]:
!pip install pytorch_tabnet

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pytorch_tabnet in /usr/local/lib/python3.7/dist-packages (4.0)
Requirement already satisfied: numpy<2.0,>=1.17 in /usr/local/lib/python3.7/dist-packages (from pytorch_tabnet) (1.21.6)
Requirement already satisfied: scikit_learn>0.21 in /usr/local/lib/python3.7/dist-packages (from pytorch_tabnet) (1.0.2)
Requirement already satisfied: scipy>1.4 in /usr/local/lib/python3.7/dist-packages (from pytorch_tabnet) (1.7.3)
Requirement already satisfied: torch<2.0,>=1.2 in /usr/local/lib/python3.7/dist-packages (from pytorch_tabnet) (1.12.1+cu113)
Requirement already satisfied: tqdm<5.0,>=4.36 in /usr/local/lib/python3.7/dist-packages (from pytorch_tabnet) (4.64.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit_learn>0.21->pytorch_tabnet) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit_learn>0.21->pytorch_tabnet) (1.2.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch<2.0,>=1.2->pytorch_tabnet) (4.1.1)

In [ ]:
import os
import numpy as np
import pandas as pd
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import LabelEncoder
from matplotlib import pyplot as plt

import torch
import torch.nn as nn
from pytorch_tabnet.tab_model import TabNetClassifier

 0   Unnamed: 0  int64  
 1   신청서 번호      int64  
 2   한도조회 일시     object 
 3   금융사 번호      int64  
 4   상품 번호       int64  
 5   승인한도        float64
 6   승인금리        float64
 7   신청 여부(타겟)   float64
 8   유저 번호       float64
 9   생성일시        object 
 10  근로형태        object 
 11  고용형태        object 
 12  주거소유형태      object 
 13  대출목적        object 
 14  날짜          object 
 15  연령          object 
 16  연령대         object 
 17  신용등급        object 
 18  개인회생 종류     object 
 19  연소득         float64
 20  대출희망금액      float64
 21  기대출수        float64
 22  기대출금액       float64
 23  근속월수        float64
 24  상품 누적 추천 수  int64  
 25  추천 수        int64  
 26  신용점수(보완)    float64
 27  조회 횟수       int64  
 28  시간차         int64

In [ ]:

# load data and split
col_name = ['Unnamed: 0','신청서 번호','한도조회 일시','금융사 번호','상품 번호', '승인한도', '승인금리' ,
            '신청 여부(타겟)','유저 번호','생성일시','근로형태','고용형태','주거소유형태','대출목적','날짜','연령','연령대','신용등급','개인회생 종류','연소득','대출희망금액','기대출수','기대출금액','근속월수','상품 누적 추천 수','추천 수','신용점수(보완)','조회 횟수','시간차']

data2 = pd.read_csv('/content/gdrive/MyDrive/real_real_final.csv', names = col_name)
data2

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (1,3,4,5,6,7,8,19,20,21,22,23,24,25,26,27,28) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,신청서 번호,한도조회 일시,금융사 번호,상품 번호,승인한도,승인금리,신청 여부(타겟),유저 번호,생성일시,...,연소득,대출희망금액,기대출수,기대출금액,근속월수,상품 누적 추천 수,추천 수,신용점수(보완),조회 횟수,시간차
0,NaN,신청서 번호,한도조회 일시,금융사 번호,상품 번호,승인한도,승인금리,신청 여부(타겟),유저 번호,생성일시,...,연소득,대출희망금액,기대출수,기대출금액,근속월수,상품 누적 추천 수,추천 수,신용점수(보완),조회 횟수,시간차
1,0.0,1748340,2022-06-07 13:05:41,7,191,42000000.0,13.6,NaN,430982.0,2022-06-07 13:05:39,...,24000000.0,25000000.0,2.0,15000000.0,4.0,1,35,620.0,7,340
2,1.0,1748340,2022-06-07 13:05:41,25,169,24000000.0,17.9,NaN,430982.0,2022-06-07 13:05:39,...,24000000.0,25000000.0,2.0,15000000.0,4.0,1,35,620.0,7,340
3,2.0,1748340,2022-06-07 13:05:41,2,7,24000000.0,18.5,NaN,430982.0,2022-06-07 13:05:39,...,24000000.0,25000000.0,2.0,15000000.0,4.0,1,35,620.0,7,340
4,3.0,1748340,2022-06-07 13:05:41,4,268,29000000.0,10.8,NaN,430982.0,2022-06-07 13:05:39,...,24000000.0,25000000.0,2.0,15000000.0,4.0,1,35,620.0,7,340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13519838,13519837.0,1428218,2022-06-03 12:01:58,62,200,3000000.0,14.8,NaN,478802.0,2022-06-03 12:01:47,...,45000000.0,50000000.0,2.0,56000000.0,39.0,2,39,610.0,3,19
13519839,13519838.0,1428218,2022-06-03 12:01:49,2,7,40000000.0,11.8,NaN,478802.0,2022-06-03 12:01:47,...,45000000.0,50000000.0,2.0,56000000.0,39.0,2,39,610.0,3,19
13519840,13519839.0,1428218,2022-06-03 12:01:48,32,257,15000000.0,7.2,NaN,478802.0,2022-06-03 12:01:47,...,45000000.0,50000000.0,2.0,56000000.0,39.0,2,39,610.0,3,19
13519841,13519840.0,1428218,2022-06-03 12:01:48,33,110,44000000.0,13.5,NaN,478802.0,2022-06-03 12:01:47,...,45000000.0,50000000.0,2.0,56000000.0,39.0,3,39,610.0,3,19
13519842,13519841.0,1428218,2022-06-03 12:01:48,5,194,44000000.0,9.7,NaN,478802.0,2022-06-03 12:01:47,...,45000000.0,50000000.0,2.0,56000000.0,39.0,2,39,610.0,3,19

In [ ]:
if "Set" not in data.columns:
    data2["Set"] = np.random.choice(["train", "valid", "test"], p =[.8, .1, .1], size=(data2.shape[0],))

train_indices = data2[data2.Set=="train"].index
valid_indices = data2[data2.Set=="valid"].index
test_indices = data2[data2.Set=="test"].index

In [ ]:
data2.shape[0]

10264376

In [ ]:
data2.isna().sum()

신청 여부(타겟)     0
신청서 번호        0
금융사 번호        0
상품 번호         0
승인한도          0
승인금리          0
유저 번호         0
근로형태          0
고용형태          0
주거소유형태        0
대출목적          0
연령대           0
신용등급          0
개인회생 종류       0
연소득           0
대출희망금액        0
기대출수          0
기대출금액         0
근속월수          0
상품 누적 추천 수    0
추천 수          0
신용점수(보완)      0
조회 횟수         0
시간차           0
Set           0
dtype: int64

In [ ]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10264376 entries, 13281 to 13512166
Data columns (total 25 columns):
 #   Column      Dtype
---  ------      -----
 0   신청 여부(타겟)   int64
 1   신청서 번호      int64
 2   금융사 번호      int64
 3   상품 번호       int64
 4   승인한도        float64
 5   승인금리        int64
 6   유저 번호       float64
 7   근로형태        int64
 8   고용형태        int64
 9   주거소유형태      int64
 10  대출목적        int64
 11  연령대         int64
 12  신용등급        int64
 13  개인회생 종류     int64
 14  연소득         float64
 15  대출희망금액      float64
 16  기대출수        int64
 17  기대출금액       float64
 18  근속월수        float64
 19  상품 누적 추천 수  float64
 20  추천 수        int64
 21  신용점수(보완)    int64
 22  조회 횟수       float64
 23  시간차         float64
 24  Set         object
dtypes: float64(9), int64(15), object(1)
memory usage: 2.2+ GB

In [ ]:
data2['Set']

13281       train
13282       valid
13283       train
13284       train
13285       train
            ...
13512162    train
13512163    train
13512164    valid
13512165    train
13512166    train
Name: Set, Length: 10264376, dtype: object

In [ ]:
# simple preprocessing
nunique = data2.nunique()
types = data2.dtypes

categorical_columns = ['']
categorical_dims =  {}
for col in data2.columns:
    if types[col] == 'object' or nunique[col] < 20:
        print(col, data2[col].nunique())
        l_enc = LabelEncoder()
        # data2[col] = data2[col].fillna("VV_likely")
        data2[col] = l_enc.fit_transform(data2[col].values)
        categorical_columns.append(col)
        categorical_dims[col] = len(l_enc.classes_)
        # print(l_enc.classes_)
    else:
        data2.fillna(data2.loc[train_indices, col].mean(), inplace=True)
        
# Define categorical feature for categorical embeddings
unused_feat = ['Set']
features = [ col for col in data2.columns if col not in unused_feat+['신청 여부(타겟)']] 
cat_idxs = [ i for i, f in enumerate(features) if f in categorical_columns]
cat_dims = [ categorical_dims[f] for i, f in enumerate(features) if f in categorical_columns]
# define your embedding sizes : here just a random choice
cat_emb_dim = [5, 4, 3, 6, 2, 2, 1, 10]

# check that pipeline accepts strings
data2.loc[data2['신청 여부(타겟)']==0, '신청 여부(타겟)'] = 0
data2.loc[data2['신청 여부(타겟)']==1, '신청 여부(타겟)'] = 1

신청 여부(타겟) 2
근로형태 6
고용형태 4
주거소유형태 3
대출목적 8
연령대 8
신용등급 10
개인회생 종류 4
Set 3

In [ ]:
target='신청 여부(타겟)'

nunique = data2.nunique()
types = data2.dtypes

categorical_columns = []
categorical_dims =  {}
for col in data2.columns:
    if types[col] == 'object' or nunique[col] < 200:
        print(col, data2[col].nunique())
        l_enc = LabelEncoder()
        data2[col] = data2[col].fillna("VV_likely")
        data2[col] = l_enc.fit_transform(data2[col].values)
        categorical_columns.append(col)
        categorical_dims[col] = len(l_enc.classes_)
    else:
        data2.fillna(data2.loc[train_indices, col].mean(), inplace=True)


# Categorical Embedding을 위해 Categorical 변수의 차원과 idxs를 담음.
unused_feat = ['Set']
features = [ col for col in data2.columns if col not in unused_feat+[target]] 
cat_idxs = [ i for i, f in enumerate(features) if f in categorical_columns]
cat_dims = [ categorical_dims[f] for i, f in enumerate(features) if f in categorical_columns]



X_train = data2[features].values[train_indices]
y_train = data2[target].values[train_indices]

X_valid = data2[features].values[valid_indices]
y_valid = data2[target].values[valid_indices]

X_test = data2[features].values[test_indices]
y_test = data2[target].values[test_indices]

In [ ]:
# network parameters
tabnet_params = {"cat_idxs":cat_idxs,
                 "cat_dims":cat_dims,
                 "cat_emb_dim":1,
                 "optimizer_fn":torch.optim.Adam,
                 "optimizer_params":dict(lr=2e-2),
                 "scheduler_params":{"step_size":50, # how to use learning rate scheduler
                                 "gamma":0.9},
                 "scheduler_fn":torch.optim.lr_scheduler.StepLR,
                 "mask_type":'entmax', # "sparsemax"
                 "gamma" : 1.3 # coefficient for feature reusage in the masks
                }

clf = TabNetClassifier(**tabnet_params)

/usr/local/lib/python3.7/dist-packages/pytorch_tabnet/abstract_model.py:75: UserWarning: Device used : cuda
  warnings.warn(f"Device used : {self.device}")

In [ ]:
# training
target='신청 여부(타겟)'

X_train = data2[features].values[train_indices]
y_train = data2[target].values[train_indices]

X_valid = data2[features].values[valid_indices]
y_valid = data2[target].values[valid_indices]

X_test = data2[features].values[test_indices]
y_test = data2[target].values[test_indices]

max_epochs = 100 if not os.getenv("CI", False) else 2

# This illustrates the warm_start=False behaviour
save_history = []
for _ in range(2):
    clf.fit(
        X_train=X_train, y_train=y_train,
        eval_set=[(X_train, y_train), (X_valid, y_valid)],
        eval_name=['train', 'valid'],
        eval_metric=['auc'],
        max_epochs=max_epochs , patience=20,
        batch_size=1024, virtual_batch_size=128,
        num_workers=0,
        weights=1,
        drop_last=False
    )
    save_history.append(clf.history["valid_auc"])

### 새로운 데이터로 돌린 디앤앤 ###

In [ ]:
import pandas as pd 

data = pd.read_csv('./Dataset.csv')
data.head()

data.info()

data2 = data[['신청 여부(타겟)','주거소유형태','대출목적','연령대','추천 수','승인금리','승인한도','근속월수(로그)','연소득(boxcox)','신용점수(보완)','시간차(로그)','대출희망금액(boxcox)','기대출수(로그)','상품 누적 추천 수(로그)','조회 횟수(로그)']]
# data2.drop(['신청서 번호','금융사 번호','상품 번호','유저 번호','생성일시'],axis=1, inplace=True)

# '유저 번호','신청서 번호',

data2.isna().sum()

data2 = data2.dropna(axis=0)

data2.isna().sum()

data2.shape

data2.describe()

data2.info()

"""### min max scaler ###"""

import numpy as np
print(np.__version__) # 1.16.4

# 결과확인을 위해 소수 출력 옵션 변경
np.set_printoptions(formatter={'float_kind': lambda x: "{0:0.1f}".format(x)}) 

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

# 

# scaler 생성 및 fitting
scaler = MinMaxScaler(feature_range = (0,1))
scaler_fit = scaler.fit(data2[['추천 수','승인금리','승인한도','근속월수(로그)','연소득(boxcox)','신용점수(보완)','시간차(로그)','대출희망금액(boxcox)','기대출수(로그)','상품 누적 추천 수(로그)','조회 횟수(로그)']])

# 데이터에 scaler 적용 -> 신청서번호, 금융사 번호, 상품번호, 유저 번호는 제외
scaled_data = scaler_fit.transform(data2[['추천 수','승인금리','승인한도','근속월수(로그)','연소득(boxcox)','신용점수(보완)','시간차(로그)','대출희망금액(boxcox)','기대출수(로그)','상품 누적 추천 수(로그)','조회 횟수(로그)']])
scaled_data

data2[['추천 수','승인금리','승인한도','근속월수(로그)','연소득(boxcox)','신용점수(보완)','시간차(로그)','대출희망금액(boxcox)','기대출수(로그)','상품 누적 추천 수(로그)','조회 횟수(로그)']]= scaled_data

data2

# 해당 컬럼에 대해서만 one-hot encoding
data3 = pd.get_dummies(data2,columns=['주거소유형태','대출목적','연령대'])

data3.info()





import pandas as pd 
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.model_selection import train_test_split
from tensorflow import keras
from tensorflow.keras import layers
from bayes_opt import BayesianOptimization


x = data3.iloc[:,1:]
y = data3.iloc[:,0]

# 필요 함수 정의
from matplotlib import pyplot
from collections import Counter

def count_and_plot(y): 
    counter = Counter(y)
    for k,v in counter.items():
        print('Class=%d, n=%d (%.3f%%)' % (k, v, v / len(y) * 100))
    pyplot.bar(counter.keys(), counter.values())
    pyplot.show()


from imblearn.under_sampling import RandomUnderSampler
x, y = RandomUnderSampler(random_state=0).fit_resample(x, y)
count_and_plot(y)

len(x)
len(y)

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1004)


print(x.shape,y.shape)

with tf.device('/gpu:3'):
    def model_optimization(Neurons, Neurons2, Neurons3, learning_rate):
        global model, history
        epoch = 100
        model = keras.models.Sequential([
            layers.Input(30),
            layers.Dense(int(Neurons), activation='relu'),
            layers.Dense(int(Neurons2), activation='relu'),
            layers.Dense(int(Neurons3), activation='relu'),
            layers.Dense(1, activation='sigmoid')])
        
        # model.compile(loss='binary_crossentropy', optimizer=keras.optimizers.Adam(learning_rate=learning_rate),
        #               metrics=['acc'])
        
        model.compile(loss=tf.keras.losses.BinaryCrossentropy(), optimizer='adam', metrics = ['acc', tf.keras.metrics.Precision(), tf.keras.metrics.Recall()])

        
        
        
        history = model.fit(X_train, y_train, epochs=int(epoch), batch_size=1024, verbose=1, validation_data=(X_test, y_test))
        
        # 예측값 출력
        y_pred = model.predict(X_test)
        # r2 = r2_score(y_test, y_pred)
        # loss, acc = model.evaluate(x, y)



        
        history_dict = history.history
        acc = history_dict['acc']
        loss = history_dict['loss']
        val_acc = history_dict['val_acc']
        
        print()
        
        epochs = range(1, len(loss) + 1)
        
        
        
        plt.plot(epochs, acc, 'bo', label='Training acc')
        plt.plot(epochs, val_acc, 'b', label='Validation acc')
        plt.title('Training and validation accuracy')
        plt.xlabel('Epochs')
        plt.ylabel('Accuracy')
        plt.legend()
        plt.show()

        return sum(acc)/len(acc)
    
    
    pbounds = {'Neurons': (72, 144), 'Neurons2': (144, 200),'Neurons3': (72, 144),  'learning_rate': (0.001, 0.1)}
    
    BO = BayesianOptimization(f=model_optimization, pbounds=pbounds, verbose=2)
    BO.maximize(init_points=60, n_iter=5, acq='ei', xi=0.01)


    model.save('loan_dnn')