In [ ]:
import pandas as pd

data = pd.read_csv('./merge_user_loan_4.csv')
pd.set_option('display.max_columns', None)
data

,신청서 번호,한도조회 일시,금융사 번호,상품 번호,승인한도,승인금리,신청 여부(타겟),유저 번호,생년월일,성별,생성일시,신용점수,연소득,근로형태,고용형태,주거소유형태,대출희망금액,대출목적,기대출수,기대출금액,날짜,연령,개인회생 종류,근속월수
0,1748340,2022-06-07 13:05:41,7,191,42000000.0,13.6,NaN,430982.0,1996.0,1.0,2022-06-07 13:05:39,620.0,24000000.0,직장가입자(4대보험O),정규직,자가,25000000.0,대환대출,2.0,15000000.0,2022-06-07,27.0,CASE1,4
1,1748340,2022-06-07 13:05:41,25,169,24000000.0,17.9,NaN,430982.0,1996.0,1.0,2022-06-07 13:05:39,620.0,24000000.0,직장가입자(4대보험O),정규직,자가,25000000.0,대환대출,2.0,15000000.0,2022-06-07,27.0,CASE1,4
2,1748340,2022-06-07 13:05:41,2,7,24000000.0,18.5,NaN,430982.0,1996.0,1.0,2022-06-07 13:05:39,620.0,24000000.0,직장가입자(4대보험O),정규직,자가,25000000.0,대환대출,2.0,15000000.0,2022-06-07,27.0,CASE1,4
3,1748340,2022-06-07 13:05:41,4,268,29000000.0,10.8,NaN,430982.0,1996.0,1.0,2022-06-07 13:05:39,620.0,24000000.0,직장가입자(4대보험O),정규직,자가,25000000.0,대환대출,2.0,15000000.0,2022-06-07,27.0,CASE1,4
4,1748340,2022-06-07 13:05:41,11,118,5000000.0,16.4,NaN,430982.0,1996.0,1.0,2022-06-07 13:05:39,620.0,24000000.0,직장가입자(4대보험O),정규직,자가,25000000.0,대환대출,2.0,15000000.0,2022-06-07,27.0,CASE1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10455660,1428218,2022-06-03 12:01:58,62,200,3000000.0,14.8,NaN,478802.0,1965.0,1.0,2022-06-03 12:01:47,610.0,45000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,대환대출,2.0,56000000.0,2022-06-03,58.0,CASE1,39
10455661,1428218,2022-06-03 12:01:49,2,7,40000000.0,11.8,NaN,478802.0,1965.0,1.0,2022-06-03 12:01:47,610.0,45000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,대환대출,2.0,56000000.0,2022-06-03,58.0,CASE1,39
10455662,1428218,2022-06-03 12:01:48,32,257,15000000.0,7.2,NaN,478802.0,1965.0,1.0,2022-06-03 12:01:47,610.0,45000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,대환대출,2.0,56000000.0,2022-06-03,58.0,CASE1,39
10455663,1428218,2022-06-03 12:01:48,33,110,44000000.0,13.5,NaN,478802.0,1965.0,1.0,2022-06-03 12:01:47,610.0,45000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,대환대출,2.0,56000000.0,2022-06-03,58.0,CASE1,39
10455664,1428218,2022-06-03 12:01:48,5,194,44000000.0,9.7,NaN,478802.0,1965.0,1.0,2022-06-03 12:01:47,610.0,45000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,대환대출,2.0,56000000.0,2022-06-03,58.0,CASE1,39

In [ ]:
# 평균적인 생성일시 개수 -> 15개

data1 = data.groupby(data['생성일시']).size().mean()
data1

15.046655336222068

In [ ]:
data.hist()

NameError: name 'data1' is not defined

In [ ]:
# 추천이 많은 사람들은 신용점수가 무조건 높을까? -> 코드 어케 짜냐 
data[['유저 번호','생성일시']].value_counts().values

array([80, 79, 78, ...,  1,  1,  1])

In [ ]:
# top5의 신용점수 보기 

# 1. 830
data[data['유저 번호']==299463]['신용점수']

3795475    830.0
3795476    830.0
3795477    830.0
3795478    830.0
3795479    830.0
           ...
9871326    830.0
9871327    830.0
9871328    830.0
9871329    830.0
9871330    830.0
Name: 신용점수, Length: 359, dtype: float64

In [ ]:
# 2. 910
data[data['유저 번호']==867773]['신용점수']

739033     910.0
739034     910.0
739035     910.0
739036     910.0
739037     910.0
           ...
8847010    920.0
8847011    920.0
8847012    920.0
8847013    920.0
8847014    920.0
Name: 신용점수, Length: 212, dtype: float64

In [ ]:
# 3. 970
data[data['유저 번호']==36980]['신용점수']

4106446    970.0
4106447    970.0
4106448    970.0
4106449    970.0
4106450    970.0
           ...
4106520    970.0
4106522    970.0
4106523    970.0
4106525    970.0
4106527    970.0
Name: 신용점수, Length: 78, dtype: float64

In [ ]:
# 4. 890
data[data['유저 번호']==247735]['신용점수']

6030759    890.0
6030760    890.0
6030761    890.0
6030762    890.0
6030763    890.0
           ...
6030832    890.0
6030833    890.0
6030834    890.0
6030835    890.0
6030836    890.0
Name: 신용점수, Length: 78, dtype: float64

In [ ]:
# 4. 930
data[data['유저 번호']==691062]['신용점수']

739775     930.0
739776     930.0
739777     930.0
739778     930.0
739779     930.0
           ...
8232407    930.0
8232408    930.0
8232409    930.0
8232410    930.0
8232411    930.0
Name: 신용점수, Length: 148, dtype: float64

In [ ]:
# 그렇다면 낮은 사람들은? 

# 1. 620
data[data['유저 번호']==440484]['신용점수']

539616      620.0
539617      620.0
539618      620.0
539619      620.0
539620      620.0
            ...
9451856     600.0
9451857     600.0
9451858     600.0
10441853    620.0
10441854    620.0
Name: 신용점수, Length: 85, dtype: float64

In [ ]:
# 2. 560
data[data['유저 번호']==298366]['신용점수']

9728       560.0
58000      560.0
83393      560.0
112112     560.0
404943     560.0
626605     560.0
687540     560.0
692840     580.0
692841     580.0
692842     580.0
692843     580.0
692844     580.0
769425     560.0
769426     560.0
769438     560.0
769451     560.0
769466     560.0
769467     560.0
2196631    580.0
2196632    580.0
2196633    580.0
2196634    580.0
2196635    580.0
2196636    580.0
2196637    580.0
2196638    580.0
2196639    580.0
2998726    580.0
2998727    580.0
2998728    580.0
3377485    580.0
3377486    580.0
3377487    580.0
3377488    580.0
4449068    560.0
4558735    560.0
4558736    560.0
7652636    580.0
7652637    580.0
7652638    580.0
8603903    560.0
8630790    560.0
9389837    580.0
9389838    580.0
9389839    580.0
9389840    580.0
9389841    580.0
9804807    580.0
9820944    560.0
Name: 신용점수, dtype: float64

In [ ]:
# 3. 570
data[data['유저 번호']==88663]['신용점수']

1517789     570.0
2375655     600.0
2375656     600.0
2375657     600.0
2375658     600.0
5297075     600.0
5297076     600.0
5297077     600.0
5297078     600.0
6358152     560.0
7431159     580.0
7431160     580.0
7978694     580.0
10302031    570.0
Name: 신용점수, dtype: float64

In [ ]:
# 4. 820 -> 얜 모냐 
data[data['유저 번호']==684878]['신용점수']

5126717    820.0
5578361    820.0
5979960    820.0
5979961    820.0
5979962    820.0
5979963    820.0
5979964    820.0
5979965    820.0
5979966    820.0
5979967    820.0
5979968    820.0
5979969    820.0
5979970    820.0
5979971    820.0
5979972    820.0
5979973    820.0
6363801    700.0
6808191    820.0
6808192    820.0
6808193    820.0
6808194    820.0
6808195    820.0
7356413    820.0
7356414    820.0
8089075    790.0
8089076    790.0
8089077    790.0
9970176    820.0
9970177    820.0
9970180    820.0
Name: 신용점수, dtype: float64

## 대체적으로 낮긴 한데 한 놈(684878)이 이상해서 이유 알아보기

In [ ]:
# 음... 일단 개인 회생자는 아님 
data[data['유저 번호']==684878]

,신청서 번호,한도조회 일시,금융사 번호,상품 번호,승인한도,승인금리,신청 여부(타겟),유저 번호,생년월일,성별,생성일시,신용점수,연소득,근로형태,고용형태,주거소유형태,대출희망금액,대출목적,기대출수,기대출금액,날짜,연령,개인회생 종류,근속월수
5126717,1735160,2022-05-02 16:58:45,1,61,20000000.0,11.4,1.0,684878.0,1994.0,1.0,2022-05-02 16:58:44,820.0,5000000.0,개인사업자,기타,기타가족소유,15000000.0,생활비,4.0,25000000.0,2022-05-02,29.0,CASE1,6
5578361,939895,2022-05-06 15:38:19,52,187,2000000.0,9.2,1.0,684878.0,1994.0,1.0,2022-05-06 15:38:03,820.0,20000000.0,개인사업자,기타,기타가족소유,20000000.0,사업자금,4.0,25000000.0,2022-05-06,29.0,CASE1,6
5979960,1059806,2022-05-04 11:23:31,27,148,10000000.0,7.0,1.0,684878.0,1994.0,1.0,2022-05-04 11:23:30,820.0,20000000.0,직장가입자(4대보험X),기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-04,29.0,CASE1,6
5979961,1059806,2022-05-04 11:23:32,49,39,8000000.0,14.4,0.0,684878.0,1994.0,1.0,2022-05-04 11:23:30,820.0,20000000.0,직장가입자(4대보험X),기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-04,29.0,CASE1,6
5979962,1059806,2022-05-04 11:23:30,59,150,20000000.0,17.6,0.0,684878.0,1994.0,1.0,2022-05-04 11:23:30,820.0,20000000.0,직장가입자(4대보험X),기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-04,29.0,CASE1,6
5979963,1059806,2022-05-04 11:23:32,22,221,13000000.0,17.5,0.0,684878.0,1994.0,1.0,2022-05-04 11:23:30,820.0,20000000.0,직장가입자(4대보험X),기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-04,29.0,CASE1,6
5979964,1059806,2022-05-04 11:23:41,38,16,10000000.0,17.1,0.0,684878.0,1994.0,1.0,2022-05-04 11:23:30,820.0,20000000.0,직장가입자(4대보험X),기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-04,29.0,CASE1,6
5979965,1059806,2022-05-04 11:23:32,11,118,5000000.0,20.0,0.0,684878.0,1994.0,1.0,2022-05-04 11:23:30,820.0,20000000.0,직장가입자(4대보험X),기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-04,29.0,CASE1,6
5979966,1059806,2022-05-04 11:23:32,6,36,20000000.0,17.7,0.0,684878.0,1994.0,1.0,2022-05-04 11:23:30,820.0,20000000.0,직장가입자(4대보험X),기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-04,29.0,CASE1,6
5979967,1059806,2022-05-04 11:23:43,52,187,2000000.0,9.2,0.0,684878.0,1994.0,1.0,2022-05-04 11:23:30,820.0,20000000.0,직장가입자(4대보험X),기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-04,29.0,CASE1,6
5979968,1059806,2022-05-04 11:23:31,38,223,10000000.0,17.1,0.0,684878.0,1994.0,1.0,2022-05-04 11:23:30,820.0,20000000.0,직장가입자(4대보험X),기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-04,29.0,CASE1,6
5979969,1059806,2022-05-04 11:23:30,59,251,10000000.0,6.5,1.0,684878.0,1994.0,1.0,2022-05-04 11:23:30,820.0,20000000.0,직장가입자(4대보험X),기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-04,29.0,CASE1,6
5979970,1059806,2022-05-04 11:23:32,36,157,15000000.0,19.5,0.0,684878.0,1994.0,1.0,2022-05-04 11:23:30,820.0,20000000.0,직장가입자(4대보험X),기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-04,29.0,CASE1,6
5979971,1059806,2022-05-04 11:23:33,4,268,16000000.0,5.9,1.0,684878.0,1994.0,1.0,2022-05-04 11:23:30,820.0,20000000.0,직장가입자(4대보험X),기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-04,29.0,CASE1,6
5979972,1059806,2022-05-04 11:23:32,25,169,20000000.0,16.9,1.0,684878.0,1994.0,1.0,2022-05-04 11:23:30,820.0,20000000.0,직장가입자(4대보험X),기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-04,29.0,CASE1,6
5979973,1059806,2022-05-04 11:23:48,49,136,10000000.0,6.5,1.0,684878.0,1994.0,1.0,2022-05-04 11:23:30,820.0,20000000.0,직장가입자(4대보험X),기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-04,29.0,CASE1,6
6363801,1007965,2022-06-22 08:03:45,15,204,8000000.0,19.7,NaN,684878.0,1994.0,1.0,2022-06-22 08:03:43,700.0,20000000.0,개인사업자,기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-06-22,29.0,CASE1,7
6808191,618240,2022-05-03 16:44:02,52,187,2000000.0,9.2,0.0,684878.0,1994.0,1.0,2022-05-03 16:43:49,820.0,20000000.0,개인사업자,기타,기타가족소유,20000000.0,대환대출,4.0,25000000.0,2022-05-03,29.0,CASE1,6
6808192,1680953,2022-05-03 10:50:06,52,187,2000000.0,9.2,0.0,684878.0,1994.0,1.0,2022-05-03 10:49:53,820.0,5000000.0,개인사업자,기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-03,29.0,CASE1,6
6808193,1984736,2022-05-03 11:33:07,52,187,2000000.0,9.2,1.0,684878.0,1994.0,1.0,2022-05-03 11:32:54,820.0,20000000.0,개인사업자,기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-03,29.0,CASE1,6
6808194,1987502,2022-05-03 10:37:35,52,187,2000000.0,9.2,0.0,684878.0,1994.0,1.0,2022-05-03 10:37:23,820.0,5000000.0,개인사업자,기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-03,29.0,CASE1,6
6808195,1065884,2022-05-03 16:50:29,52,187,2000000.0,9.2,1.0,684878.0,1994.0,1.0,2022-05-03 16:50:16,820.0,20000000.0,개인사업자,기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-03,29.0,CASE1,6
7356413,715852,2022-05-07 12:08:03,52,187,2000000.0,9.2,0.0,684878.0,1994.0,1.0,2022-05-07 12:07:50,820.0,20000000.0,개인사업자,정규직,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-07,29.0,CASE1,6
7356414,100021,2022-05-07 12:13:59,52,187,2000000.0,9.2,1.0,684878.0,1994.0,1.0,2022-05-07 12:13:46,820.0,20000000.0,개인사업자,정규직,기타가족소유,20000000.0,사업자금,4.0,25000000.0,2022-05-07,29.0,CASE1,6
8089075,2160442,2022-05-09 10:20:37,38,16,18000000.0,17.4,1.0,684878.0,1994.0,1.0,2022-05-09 10:20:22,790.0,20000000.0,직장가입자(4대보험X),기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-09,29.0,CASE1,6
8089076,2160442,2022-05-09 10:20:23,38,223,18000000.0,17.4,1.0,684878.0,1994.0,1.0,2022-05-09 10:20:22,790.0,20000000.0,직장가입자(4대보험X),기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-09,29.0,CASE1,6
8089077,2160442,2022-05-09 10:20:25,4,268,14000000.0,5.9,0.0,684878.0,1994.0,1.0,2022-05-09 10:20:22,790.0,20000000.0,직장가입자(4대보험X),기타,기타가족소유,20000000.0,생활비,4.0,25000000.0,2022-05-09,29.0,CASE1,6
9970176,1121002,2022-04-25 06:43:40,30,85,10000000.0,14.8,0.0,684878.0,1994.0,1.0,2022-04-25 06:43:40,820.0,30000000.0,개인사업자,기타,기타가족소유,20000000.0,사업자금,4.0,25000000.0,2022-04-25,29.0,CASE1,5
9970177,1121002,2022-04-25 06:43:54,52,187,2000000.0,9.2,0.0,684878.0,1994.0,1.0,2022-04-25 06:43:40,820.0,30000000.0,개인사업자,기타,기타가족소유,20000000.0,사업자금,4.0,25000000.0,2022-04-25,29.0,CASE1,5
9970180,1121002,2022-04-25 06:43:41,1,61,67000000.0,11.4,0.0,684878.0,1994.0,1.0,2022-04-25 06:43:40,820.0,30000000.0,개인사업자,기타,기타가족소유,20000000.0,사업자금,4.0,25000000.0,2022-04-25,29.0,CASE1,5

In [ ]:

# 최근에 대출을 많이 받아서 그런가?? 그러면 신용점수가 내려가야 하지 않냐구 -> 안 내려가나? -> 확인해봐야.. 
data[data['유저 번호']==684878]['신청 여부(타겟)'].value_counts()

0.0    17
1.0    12
Name: 신청 여부(타겟), dtype: int64

In [ ]:
# 무려 일주일 안에 12번의 대출을 받은 멋진 놈 !!!
data[(data['유저 번호']==684878)&(data['신청 여부(타겟)']==1)]['생성일시']

5126717    2022-05-02 16:58:44
5578361    2022-05-06 15:38:03
5979960    2022-05-04 11:23:30
5979969    2022-05-04 11:23:30
5979971    2022-05-04 11:23:30
5979972    2022-05-04 11:23:30
5979973    2022-05-04 11:23:30
6808193    2022-05-03 11:32:54
6808195    2022-05-03 16:50:16
7356414    2022-05-07 12:13:46
8089075    2022-05-09 10:20:22
8089076    2022-05-09 10:20:22
Name: 생성일시, dtype: object